# Loading DataFrame

In [40]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [42]:
%ls

'Copy of telco_customer_churn.csv'  'telco_customer_churn (1).csv'
 sample_data/                        telco_customer_churn.csv

In [41]:
# Mengimport Data dari Local
from google.colab import files
uploaded = files.upload()

Saving telco_customer_churn.csv to telco_customer_churn (1).csv

In [10]:
pd.DataFrame?

In [15]:
df = pd.read_csv('telco_customer_churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [16]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Data Frame Information Exploration

In [17]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

# DataFrame Rename

In [18]:
df = df.rename(columns={'customerID': 'CustID'})
df.columns

Index(['CustID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [19]:
df.columns = df.columns.str.lower()
df.columns

Index(['custid', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

# DataFrame string function

In [20]:
df['paymentmethod']

0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
                  ...
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: paymentmethod, Length: 7043, dtype: object

In [26]:
df['paymentmethod'] = df['paymentmethod'].str.replace('automatic','')
df['paymentmethod']

0       Electronic check
1           Mailed check
2           Mailed check
3       Bank transfer ()
4       Electronic check
              ...
7038        Mailed check
7039      Credit card ()
7040    Electronic check
7041        Mailed check
7042    Bank transfer ()
Name: paymentmethod, Length: 7043, dtype: object

In [27]:
df['paymentmethod'] = df['paymentmethod'].str.replace('()','', regex = False)
df['paymentmethod']

0       Electronic check
1           Mailed check
2           Mailed check
3         Bank transfer
4       Electronic check
              ...
7038        Mailed check
7039        Credit card
7040    Electronic check
7041        Mailed check
7042      Bank transfer
Name: paymentmethod, Length: 7043, dtype: object

In [28]:
df['paymentmethod'] = df['paymentmethod'].str.strip()
df['paymentmethod']

0       Electronic check
1           Mailed check
2           Mailed check
3          Bank transfer
4       Electronic check
              ...
7038        Mailed check
7039         Credit card
7040    Electronic check
7041        Mailed check
7042       Bank transfer
Name: paymentmethod, Length: 7043, dtype: object

In [39]:
df = pd.read_csv('telco_customer_churn.csv')
# df['paymentmethod.replace(['Bank transfer (automatic)'],'Bank Transfer')
df['PaymentMethod'].str.replace(r" \(automatic*\)","",regex=True)

0       Electronic check
1           Mailed check
2           Mailed check
3          Bank transfer
4       Electronic check
              ...
7038        Mailed check
7039         Credit card
7040    Electronic check
7041        Mailed check
7042       Bank transfer
Name: PaymentMethod, Length: 7043, dtype: object

# Data Preprocessing

In [30]:
df['phoneservice']

0        No
1       Yes
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040     No
7041    Yes
7042    Yes
Name: phoneservice, Length: 7043, dtype: object

In [31]:
df_phoneservice = df['phoneservice']

In [32]:
pd.get_dummies(df_phoneservice, columns=['phoneservice'], prefix='phoneservice')

      phoneservice_No  phoneservice_Yes
0                   1                 0
1                   0                 1
2                   0                 1
3                   1                 0
4                   0                 1
...               ...               ...
7038                0                 1
7039                0                 1
7040                1                 0
7041                0                 1
7042                0                 1

[7043 rows x 2 columns]

In [33]:
df['monthlycharges']

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7038     84.80
7039    103.20
7040     29.60
7041     74.40
7042    105.65
Name: monthlycharges, Length: 7043, dtype: float64

In [34]:
min_max_scaler = MinMaxScaler ()
df['monthlycharges'] = min_max_scaler.fit_transform(df[['monthlycharges']])
df['monthlycharges']

0       0.115423
1       0.385075
2       0.354229
3       0.239303
4       0.521891
          ...
7038    0.662189
7039    0.845274
7040    0.112935
7041    0.558706
7042    0.869652
Name: monthlycharges, Length: 7043, dtype: float64

In [35]:
df['totalcharges']

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: totalcharges, Length: 7043, dtype: object

In [50]:
df.loc[488]['TotalCharges']

' '

In [57]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df['isnumber'] = df['TotalCharges'].apply(isnumber)
df['isnumber']

0       True
1       True
2       True
3       True
4       True
        ...
7038    True
7039    True
7040    True
7041    True
7042    True
Name: isnumber, Length: 7043, dtype: bool

In [58]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df['isnumber'] = df['TotalCharges'].apply(isnumber)
df[~df['isnumber']]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,isnumber
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No,False
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No,False
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,No,Yes,Yes,Two year,No,Mailed check,80.85,,No,False
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No,False
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No,False
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No,False
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No,False
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No,False
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No,False
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,No,Two year,No,Mailed check,73.35,,No,False
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No,False

In [56]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df['isnumber'] = df['TotalCharges'].apply(isnumber)
df[~df['isnumber']].index

Int64Index([488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754], dtype='int64')

In [59]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df['isnumber'] = df['TotalCharges'].apply(isnumber)
index_notnumber = df[~df['isnumber']].index

In [60]:
df.drop(index=index_notnumber)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,isnumber
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,True
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,True
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,True
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,True
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,True
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,True
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,True
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,True
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,True

In [67]:
median = df[df['isnumber']]['TotalCharges'].astype('float64').median()

In [73]:
df.loc[index_notnumber,'TotalCharges'] = (median)

In [76]:
df.loc[index_notnumber]['TotalCharges']

488     1397.475
753     1397.475
936     1397.475
1082    1397.475
1340    1397.475
3331    1397.475
3826    1397.475
4380    1397.475
5218    1397.475
6670    1397.475
6754    1397.475
Name: TotalCharges, dtype: object

In [77]:
df['TotalCharges'].astype('float64')

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [78]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler ()
totalcharges_scaled = std_scaler.fit_transform(df[['TotalCharges']])
totalcharges_scaled

array([[-0.99424194],
       [-0.17324413],
       [-0.95967407],
       ...,
       [-0.85446945],
       [-0.87206242],
       [ 2.01428802]])